*{
    margin: 0px;/*si quiero la maqueta (cajas sin contenidos) necesito que al menos unno de estos no este en 0*/
    padding: 0px;
    box-sizing: border-box;/*para que las cajas no se desborden unas con otras*/
}

body {
    height: 100%;
    background-image: linear-gradient(#D8743F 80%,#E01703);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0em;
}

.contenedor-principal{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.contenedor-central{
    display: flex;
    flex-flow: row nowrap;

    width: 1000px;
    margin: 0 10px 20px 10px;
}

.contenedor-izq{
    flex: 10 1 auto;
    background-color: rgba(0, 0, 0, 0.215);
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    margin-right: 20px;
}

.logo{
    height: 15%;
    display: inline-block;
}

img{
    padding-top: 10px;
}

.area_texto{
    width: 695px;
    height: 65%;
    padding-left: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.textIzq{
    width: 90%;
    height: 80%;
    font-size: 1.6rem;
    border-style: none;
    resize: none;
    outline: none;
    background-color: transparent;
    color: #052051;
    font-family: 'Poppins', sans-serif;
    font-weight: bold
}

.textIzq::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.warnings{
    height: 5%;/**/
    /*background-color: aquamarine;/**/
}
    
    .warning{
        padding-left: 14%;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        color: #052051;
        opacity: 0.8;
        display: flex;
    }

.contenedorBotonesIzq{
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn-encriptar{
    width: 200px;
    height: 50px;
    font-size: 15px;
    padding: 6px;
    margin: 10px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
    color: white;
    background-color: #89D202;
    opacity: 0.8;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-desencriptar{

    width: 200px;
    height: 50px;
    font-size: 15px;
    padding: 6px;
    margin: 10px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
    color: #052051;
    background-color: #D8DFE8;
    opacity: 0.8;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn-encriptar:hover,.btn-desencriptar:hover,.btn-copiar:hover{
    transform: scale(1.04);
    box-shadow: 1px 1px 8px #052051;
    transition: 0.5 transform;
}

/*Lado derecho texto*/

.contenedor-der{
    flex: 1 1 auto;

    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.salidaTexto{
    height: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    display: none; /**/
}

.textDer{
    width: 90%;
    height: 90%;

    padding: 10px 10px 10px 10px;
    border-style: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.741);
    text-transform: lowercase

}

.contenedorBotonesDer{
    height: 15%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    /*display: none;*/
}

.btn-copiar{
    width: 200px;
    height: 50px;
    font-family:'Poppins', sans-serif;
    color: white;
    background-color: #9ABD14;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

 /*Contenido visible cuando no hay texto encriptado*/

 .sinMensaje{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .img-pochita{
    width: 300px;
    height: 300px;
 }

.textoSinMensaje1{
    margin-top: 40px;
    color: black;
    font-size: 1.5rem;
}

.textoSinMensaje2{
    margin-top: 15px;
    color: #1A1B1C;
    font-size: 10px;
}

.encriptar-desencriptar{
    padding: 10px;
    font-weight: 400;
    font-size: 1.6rem;
    background: whitesmoke;
}

.resultado{
    width: 100%;
    height: 70%;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    color: black;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.hide {
    display: none;
}

/*Footer*/

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.redes a img{
    width: 30px;
    height: 40px;
}

  